# 03: Extracting data to different formats

In this notebook, we will look at how we can export data from a NetCDF file into a CSV or XLSX file.

Let's import some modules first

In [1]:
library(RNetCDF)
library(writexl)

## Variables with 1 dimension

In this section, we will use some CTD data from the Nansen Legacy project. If you use these data, please cite them as recommended below:

*Elizabeth Jones (2022) CTD data from Nansen Legacy Cruise - Joint cruise 2-1 Staion: P1_NLEG01-1 https://doi.org/10.21335/NMDC-2085836005-P1_NLEG01-1*

Let's load in the data.

In [2]:
url <- 'https://opendap1.nodc.no/opendap/physics/point/cruise/nansen_legacy-single_profile/NMDC_Nansen-Legacy_PR_CT_58US_2021708/CTD_station_P1_NLEG01-1_-_Nansen_Legacy_Cruise_-_2021_Joint_Cruise_2-1.nc'
data <- open.nc(url)
print.nc(data)

netcdf classic {
dimensions:
	PRES = 320 ;
variables:
	NC_FLOAT PRES(PRES) ;
		NC_FLOAT PRES:_FillValue = NaN ;
		NC_CHAR PRES:axis = "Z" ;
		NC_CHAR PRES:uncertainty = " " ;
		NC_CHAR PRES:comment = " " ;
		NC_CHAR PRES:ancillary_variables = "PRES_QC" ;
		NC_CHAR PRES:standard_name = "sea_water_pressure" ;
		NC_CHAR PRES:long_name = "Sea pressure" ;
		NC_CHAR PRES:units = "dbar" ;
		NC_CHAR PRES:positive = "down" ;
		NC_CHAR PRES:data_mode = "D" ;
		NC_CHAR PRES:coverage_content_type = "physicalMeasurement" ;
	NC_SHORT PRES_QC(PRES) ;
		NC_SHORT PRES_QC:_FillValue = -127 ;
		NC_CHAR PRES_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT PRES_QC:valid_min = 0 ;
		NC_SHORT PRES_QC:valid_max = 9 ;
		NC_SHORT PRES_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR PRES_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR PRES_QC:long_name = "Sea pressure quality flag" ;
	NC_FLOAT TEMP(PRES) ;
		NC_FLOAT TEMP:_FillValue = -2147483648 ;
		NC_CHAR TEMP:standard_name = "sea_water_temperature" ;
		NC_CHAR TEMP:long_name = "Sea temperature" ;
		NC_CHAR TEMP:units = "degrees_C" ;
		NC_DOUBLE TEMP:valid_min = -2.5 ;
		NC_DOUBLE TEMP:valid_max = 40 ;
		NC_CHAR TEMP:ancillary_variables = "TEMP_QC " ;
		NC_CHAR TEMP:data_mode = "D" ;
		NC_CHAR TEMP:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT PSAL(PRES) ;
		NC_FLOAT PSAL:_FillValue = -2147483648 ;
		NC_CHAR PSAL:standard_name = "sea_water_practical_salinity" ;
		NC_CHAR PSAL:long_name = "Practical salinity" ;
		NC_CHAR PSAL:units = "0.001" ;
		NC_DOUBLE PSAL:valid_min = 2 ;
		NC_DOUBLE PSAL:valid_max = 41 ;
		NC_CHAR PSAL:ancillary_variables = "PSAL_QC " ;
		NC_CHAR PSAL:data_mode = "D" ;
		NC_CHAR PSAL:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT FLU2(PRES) ;
		NC_FLOAT FLU2:_FillValue = -2147483648 ;
		NC_CHAR FLU2:standard_name = "mass_concentration_of_chlorophyll_a_in_sea_water" ;
		NC_CHAR FLU2:long_name = "Chlorophyll-a fluorescence" ;
		NC_CHAR FLU2:units = "mg m-3" ;
		NC_DOUBLE FLU2:valid_min = 0 ;
		NC_DOUBLE FLU2:valid_max = 100 ;
		NC_CHAR FLU2:ancillary_variables = "FLU2_QC " ;
		NC_CHAR FLU2:data_mode = "R" ;
		NC_CHAR FLU2:comment = "Fluorescence, WET Labs ECO-AFL/FL [mg/m^3]" ;
		NC_CHAR FLU2:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT CNDC(PRES) ;
		NC_FLOAT CNDC:_FillValue = -2147483648 ;
		NC_CHAR CNDC:standard_name = "sea_water_electrical_conductivity" ;
		NC_CHAR CNDC:long_name = "Electrical conductivity" ;
		NC_CHAR CNDC:units = "S m-1" ;
		NC_DOUBLE CNDC:valid_min = 0 ;
		NC_DOUBLE CNDC:valid_max = 50 ;
		NC_CHAR CNDC:ancillary_variables = "CNDC_QC " ;
		NC_CHAR CNDC:data_mode = "D" ;
		NC_CHAR CNDC:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT DENS(PRES) ;
		NC_FLOAT DENS:_FillValue = -2147483648 ;
		NC_CHAR DENS:standard_name = "sea_water_sigma_theta" ;
		NC_CHAR DENS:long_name = "Sea density (sigma-theta)" ;
		NC_CHAR DENS:units = "kg m-3" ;
		NC_DOUBLE DENS:valid_min = 20 ;
		NC_DOUBLE DENS:valid_max = 40 ;
		NC_CHAR DENS:ancillary_variables = "DENS_QC " ;
		NC_CHAR DENS:data_mode = "R" ;
		NC_CHAR DENS:comment = "density, sigma-theta [kg/m^3]" ;
		NC_CHAR DENS:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT SVEL(PRES) ;
		NC_FLOAT SVEL:_FillValue = -2147483648 ;
		NC_CHAR SVEL:standard_name = "speed_of_sound_in_sea_water" ;
		NC_CHAR SVEL:long_name = "Sound velocity" ;
		NC_CHAR SVEL:units = "m s-1" ;
		NC_DOUBLE SVEL:valid_min = 0 ;
		NC_DOUBLE SVEL:valid_max = 1000 ;
		NC_CHAR SVEL:ancillary_variables = "SVEL_QC " ;
		NC_CHAR SVEL:data_mode = "R" ;
		NC_CHAR SVEL:comment = "Sound Velocity [Chen-Millero, m/s]" ;
		NC_CHAR SVEL:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT CCOMD003(PRES) ;
		NC_FLOAT CCOMD003:_FillValue = -2147483648 ;
		NC_CHAR CCOMD003:standard_name = "concentration_of_colored_dissolved_organic_matter_in_sea_water_expressed_as_equivalent_mass_fraction_of_quinine_sulfate_dihydrate" ;
		NC_CHAR CCOMD003:long_name = "CDOM Gelbstoff per unit volume of the water body by in-situ fluorometer" ;
		NC_CHAR CCOMD003:units = "mg m-3" ;
		NC_DOUBLE CCOMD003:valid_min = 0 ;
		NC_DOUBLE CCOMD003:valid_max = 100 ;
		NC_CHAR CCOMD003:ancillary_variables = "CCOMD003_QC " ;
		NC_CHAR CCOMD003:data_mode = "R" ;
		NC_CHAR CCOMD003:comment = "Fluorescence, WET Labs CDOM [mg/m^3]" ;
		NC_CHAR CCOMD003:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT DOX1-1(PRES) ;
		NC_FLOAT DOX1-1:_FillValue = -2147483648 ;
		NC_CHAR DOX1-1:standard_name = "volume_fraction_of_oxygen_in_sea_water" ;
		NC_CHAR DOX1-1:long_name = "Dissolved oxygen" ;
		NC_CHAR DOX1-1:units = "ml l-1" ;
		NC_DOUBLE DOX1-1:valid_min = 0 ;
		NC_DOUBLE DOX1-1:valid_max = 1000 ;
		NC_CHAR DOX1-1:ancillary_variables = "DOX1-1_QC " ;
		NC_CHAR DOX1-1:data_mode = "R" ;
		NC_CHAR DOX1-1:comment = "Oxygen, SBE 43 [ml/l], WS = 2" ;
		NC_CHAR DOX1-1:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT DOX2-1(PRES) ;
		NC_FLOAT DOX2-1:_FillValue = -2147483648 ;
		NC_CHAR DOX2-1:standard_name = "moles_of_oxygen_per_unit_mass_in_sea_water" ;
		NC_CHAR DOX2-1:long_name = "Dissolved oxygen" ;
		NC_CHAR DOX2-1:units = "\302\265mol kg-1" ;
		NC_DOUBLE DOX2-1:valid_min = 0 ;
		NC_DOUBLE DOX2-1:valid_max = 1000 ;
		NC_CHAR DOX2-1:ancillary_variables = "DOX2-1_QC " ;
		NC_CHAR DOX2-1:data_mode = "R" ;
		NC_CHAR DOX2-1:comment = "Sbox0Mm/Kg" ;
		NC_CHAR DOX2-1:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT CNDC-2(PRES) ;
		NC_FLOAT CNDC-2:_FillValue = -2147483648 ;
		NC_CHAR CNDC-2:standard_name = "sea_water_electrical_conductivity" ;
		NC_CHAR CNDC-2:long_name = "Electrical conductivity" ;
		NC_CHAR CNDC-2:units = "S m-1" ;
		NC_DOUBLE CNDC-2:valid_min = 0 ;
		NC_DOUBLE CNDC-2:valid_max = 50 ;
		NC_CHAR CNDC-2:ancillary_variables = "CNDC-2_QC " ;
		NC_CHAR CNDC-2:data_mode = "R" ;
		NC_CHAR CNDC-2:comment = "Conductivity, 2 [S/m]" ;
		NC_CHAR CNDC-2:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT OXYOCPVL-1(PRES) ;
		NC_FLOAT OXYOCPVL-1:_FillValue = -2147483648 ;
		NC_CHAR OXYOCPVL-1:standard_name = "'\342\200\231" ;
		NC_CHAR OXYOCPVL-1:long_name = "Raw signal (voltage) of instrument output by oxygen senso" ;
		NC_CHAR OXYOCPVL-1:units = "V" ;
		NC_DOUBLE OXYOCPVL-1:valid_min = 0 ;
		NC_DOUBLE OXYOCPVL-1:valid_max = 1000 ;
		NC_CHAR OXYOCPVL-1:ancillary_variables = "OXYOCPVL-1_QC " ;
		NC_CHAR OXYOCPVL-1:data_mode = "R" ;
		NC_CHAR OXYOCPVL-1:comment = "Oxygen Voltage, SBE 43" ;
		NC_CHAR OXYOCPVL-1:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT SPAR(PRES) ;
		NC_FLOAT SPAR:_FillValue = -2147483648 ;
		NC_CHAR SPAR:standard_name = "'\342\200\231" ;
		NC_CHAR SPAR:long_name = "Photosynthetically active radiation" ;
		NC_CHAR SPAR:units = "\316\274mol m-2 s-1" ;
		NC_DOUBLE SPAR:valid_min = 0 ;
		NC_DOUBLE SPAR:valid_max = 10000 ;
		NC_CHAR SPAR:ancillary_variables = "SPAR_QC " ;
		NC_CHAR SPAR:data_mode = "R" ;
		NC_CHAR SPAR:comment = "SPAR/Surface Irradiance" ;
		NC_CHAR SPAR:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT PAR(PRES) ;
		NC_FLOAT PAR:_FillValue = -2147483648 ;
		NC_CHAR PAR:standard_name = "'\342\200\231" ;
		NC_CHAR PAR:long_name = "Photosynthetically active radiation" ;
		NC_CHAR PAR:units = "\316\274mol m-2 s-1" ;
		NC_DOUBLE PAR:valid_min = 0 ;
		NC_DOUBLE PAR:valid_max = 10000 ;
		NC_CHAR PAR:ancillary_variables = "PAR_QC " ;
		NC_CHAR PAR:data_mode = "R" ;
		NC_CHAR PAR:comment = "PAR/Irradiance, Biospherical/Licor" ;
		NC_CHAR PAR:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT PSAL-2(PRES) ;
		NC_FLOAT PSAL-2:_FillValue = -2147483648 ;
		NC_CHAR PSAL-2:standard_name = "sea_water_practical_salinity" ;
		NC_CHAR PSAL-2:long_name = "Practical salinity" ;
		NC_CHAR PSAL-2:units = "0.001" ;
		NC_DOUBLE PSAL-2:valid_min = 2 ;
		NC_DOUBLE PSAL-2:valid_max = 40 ;
		NC_CHAR PSAL-2:ancillary_variables = "PSAL-2_QC " ;
		NC_CHAR PSAL-2:data_mode = "R" ;
		NC_CHAR PSAL-2:comment = "Salinity, 2 [PSU]" ;
		NC_CHAR PSAL-2:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT TEMP-2(PRES) ;
		NC_FLOAT TEMP-2:_FillValue = -2147483648 ;
		NC_CHAR TEMP-2:standard_name = "sea_water_temperature" ;
		NC_CHAR TEMP-2:long_name = "Sea temperature" ;
		NC_CHAR TEMP-2:units = "degrees_C" ;
		NC_DOUBLE TEMP-2:valid_min = -2.5 ;
		NC_DOUBLE TEMP-2:valid_max = 40 ;
		NC_CHAR TEMP-2:ancillary_variables = "TEMP-2_QC " ;
		NC_CHAR TEMP-2:data_mode = "R" ;
		NC_CHAR TEMP-2:comment = "Temperature, 2 [ITS-68, deg C]" ;
		NC_CHAR TEMP-2:coverage_content_type = "physicalMeasurement" ;
	NC_FLOAT ATTNZS01(PRES) ;
		NC_FLOAT ATTNZS01:_FillValue = -2147483648 ;
		NC_CHAR ATTNZS01:standard_name = "'\342\200\231" ;
		NC_CHAR ATTNZS01:long_name = "WET Labs transmissometer calibrated to zero in clear water" ;
		NC_CHAR ATTNZS01:units = "%" ;
		NC_DOUBLE ATTNZS01:valid_min = 0 ;
		NC_DOUBLE ATTNZS01:valid_max = 100 ;
		NC_CHAR ATTNZS01:ancillary_variables = "ATTNZS01_QC " ;
		NC_CHAR ATTNZS01:data_mode = "R" ;
		NC_CHAR ATTNZS01:comment = "Beam Transmission, WET Labs C-Star [%]" ;
		NC_CHAR ATTNZS01:coverage_content_type = "physicalMeasurement" ;
	NC_SHORT TEMP_QC(PRES) ;
		NC_SHORT TEMP_QC:_FillValue = -127 ;
		NC_CHAR TEMP_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT TEMP_QC:valid_min = 0 ;
		NC_SHORT TEMP_QC:valid_max = 9 ;
		NC_SHORT TEMP_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR TEMP_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR TEMP_QC:long_name = "Sea temperature quality flag" ;
	NC_SHORT PSAL_QC(PRES) ;
		NC_SHORT PSAL_QC:_FillValue = -127 ;
		NC_CHAR PSAL_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT PSAL_QC:valid_min = 0 ;
		NC_SHORT PSAL_QC:valid_max = 9 ;
		NC_SHORT PSAL_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR PSAL_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR PSAL_QC:long_name = "Practical salinity quality flag" ;
	NC_SHORT FLU2_QC(PRES) ;
		NC_SHORT FLU2_QC:_FillValue = -127 ;
		NC_CHAR FLU2_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT FLU2_QC:valid_min = 0 ;
		NC_SHORT FLU2_QC:valid_max = 9 ;
		NC_SHORT FLU2_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR FLU2_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR FLU2_QC:long_name = "Chlorophyll-a fluorescence quality flag" ;
	NC_SHORT CNDC_QC(PRES) ;
		NC_SHORT CNDC_QC:_FillValue = -127 ;
		NC_CHAR CNDC_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT CNDC_QC:valid_min = 0 ;
		NC_SHORT CNDC_QC:valid_max = 9 ;
		NC_SHORT CNDC_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR CNDC_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR CNDC_QC:long_name = "Electrical conductivity quality flag" ;
	NC_SHORT DENS_QC(PRES) ;
		NC_SHORT DENS_QC:_FillValue = -127 ;
		NC_CHAR DENS_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT DENS_QC:valid_min = 0 ;
		NC_SHORT DENS_QC:valid_max = 9 ;
		NC_SHORT DENS_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR DENS_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR DENS_QC:long_name = "Sea density (sigma-theta) quality flag" ;
	NC_SHORT SVEL_QC(PRES) ;
		NC_SHORT SVEL_QC:_FillValue = -127 ;
		NC_CHAR SVEL_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT SVEL_QC:valid_min = 0 ;
		NC_SHORT SVEL_QC:valid_max = 9 ;
		NC_SHORT SVEL_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR SVEL_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR SVEL_QC:long_name = "Sound velocity quality flag" ;
	NC_SHORT CCOMD003_QC(PRES) ;
		NC_SHORT CCOMD003_QC:_FillValue = -127 ;
		NC_CHAR CCOMD003_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT CCOMD003_QC:valid_min = 0 ;
		NC_SHORT CCOMD003_QC:valid_max = 9 ;
		NC_SHORT CCOMD003_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR CCOMD003_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR CCOMD003_QC:long_name = "CDOM Gelbstoff per unit volume of the water body by in-situ fluorometer quality flag" ;
	NC_SHORT DOX1-1_QC(PRES) ;
		NC_SHORT DOX1-1_QC:_FillValue = -127 ;
		NC_CHAR DOX1-1_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT DOX1-1_QC:valid_min = 0 ;
		NC_SHORT DOX1-1_QC:valid_max = 9 ;
		NC_SHORT DOX1-1_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR DOX1-1_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR DOX1-1_QC:long_name = "Dissolved oxygen quality flag" ;
	NC_SHORT DOX2-1_QC(PRES) ;
		NC_SHORT DOX2-1_QC:_FillValue = -127 ;
		NC_CHAR DOX2-1_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT DOX2-1_QC:valid_min = 0 ;
		NC_SHORT DOX2-1_QC:valid_max = 9 ;
		NC_SHORT DOX2-1_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR DOX2-1_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR DOX2-1_QC:long_name = "Dissolved oxygen quality flag" ;
	NC_SHORT CNDC-2_QC(PRES) ;
		NC_SHORT CNDC-2_QC:_FillValue = -127 ;
		NC_CHAR CNDC-2_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT CNDC-2_QC:valid_min = 0 ;
		NC_SHORT CNDC-2_QC:valid_max = 9 ;
		NC_SHORT CNDC-2_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR CNDC-2_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR CNDC-2_QC:long_name = "Electrical conductivity quality flag" ;
	NC_SHORT OXYOCPVL-1_QC(PRES) ;
		NC_SHORT OXYOCPVL-1_QC:_FillValue = -127 ;
		NC_CHAR OXYOCPVL-1_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT OXYOCPVL-1_QC:valid_min = 0 ;
		NC_SHORT OXYOCPVL-1_QC:valid_max = 9 ;
		NC_SHORT OXYOCPVL-1_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR OXYOCPVL-1_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR OXYOCPVL-1_QC:long_name = "Raw signal (voltage) of instrument output by oxygen senso quality flag" ;
	NC_SHORT SPAR_QC(PRES) ;
		NC_SHORT SPAR_QC:_FillValue = -127 ;
		NC_CHAR SPAR_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT SPAR_QC:valid_min = 0 ;
		NC_SHORT SPAR_QC:valid_max = 9 ;
		NC_SHORT SPAR_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR SPAR_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR SPAR_QC:long_name = "Photosynthetically active radiation quality flag" ;
	NC_SHORT PAR_QC(PRES) ;
		NC_SHORT PAR_QC:_FillValue = -127 ;
		NC_CHAR PAR_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT PAR_QC:valid_min = 0 ;
		NC_SHORT PAR_QC:valid_max = 9 ;
		NC_SHORT PAR_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR PAR_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR PAR_QC:long_name = "Photosynthetically active radiation quality flag" ;
	NC_SHORT PSAL-2_QC(PRES) ;
		NC_SHORT PSAL-2_QC:_FillValue = -127 ;
		NC_CHAR PSAL-2_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT PSAL-2_QC:valid_min = 0 ;
		NC_SHORT PSAL-2_QC:valid_max = 9 ;
		NC_SHORT PSAL-2_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR PSAL-2_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR PSAL-2_QC:long_name = "Practical salinity quality flag" ;
	NC_SHORT TEMP-2_QC(PRES) ;
		NC_SHORT TEMP-2_QC:_FillValue = -127 ;
		NC_CHAR TEMP-2_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT TEMP-2_QC:valid_min = 0 ;
		NC_SHORT TEMP-2_QC:valid_max = 9 ;
		NC_SHORT TEMP-2_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR TEMP-2_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR TEMP-2_QC:long_name = "Sea temperature quality flag" ;
	NC_SHORT ATTNZS01_QC(PRES) ;
		NC_SHORT ATTNZS01_QC:_FillValue = -127 ;
		NC_CHAR ATTNZS01_QC:conventions = "Copernicus Marine In Situ reference table 2" ;
		NC_SHORT ATTNZS01_QC:valid_min = 0 ;
		NC_SHORT ATTNZS01_QC:valid_max = 9 ;
		NC_SHORT ATTNZS01_QC:flag_values = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ;
		NC_CHAR ATTNZS01_QC:flag_meanings = "no_qc_performed good_data probably_good_data bad_data_that_are_potentially_correctable bad_data value_changed value_below_detection nominal_value interpolated_value missing_value" ;
		NC_CHAR ATTNZS01_QC:long_name = "WET Labs transmissometer calibrated to zero in clear water quality flag" ;

// global attributes:
		NC_CHAR :qc_manual = "Recommendations for in-situ data Near Real Time Quality Control https://doi.org/10.13155/36230" ;
		NC_CHAR :contact = "datahjelp@hi.no" ;
		NC_CHAR :distribution_statement = "These data are public and free of charge. User assumes all risk for use of data. User must display citation in any publication or product using data. User must contact PI prior to any commercial use of data." ;
		NC_CHAR :naming_authority = "no.unis" ;
		NC_CHAR :license = "https://creativecommons.org/licenses/by/4.0/ https://creativecommons.org/licenses/by/4.0/" ;
		NC_CHAR :data_assembly_center = "IMR" ;
		NC_CHAR :update_interval = "void" ;
		NC_CHAR :area = "Arctic Ocean" ;
		NC_CHAR :author = "" ;
		NC_CHAR :Conventions = "CF-1.8, ACDD-1.3, OceanSITES Manual 1.4" ;
		NC_CHAR :data_mode = "M" ;
		NC_CHAR :comment = "Descending CTD profile" ;
		NC_CHAR :history = "Created at 2022-08-08T12:43:51Z using the xarray library in Python" ;
		NC_CHAR :netcdf_version = "netCDF-4 classic model" ;
		NC_CHAR :quality_index = "A" ;
		NC_CHAR :quality_control_indicator = "0" ;
		NC_CHAR :publisher_name = "Elisabeth Jones" ;
		NC_CHAR :publisher_email = "datahjelp@imr.no" ;
		NC_CHAR :wmo_platform_code = "" ;
		NC_CHAR :ices_platform_code = "" ;
		NC_CHAR :site_code = "" ;
		NC_CHAR :bottom_depth = "" ;
		NC_CHAR :wmo_inst_type = "" ;

The data have 1 dimension, pressure. Let's say we want to extract the data from the *TEMP* and *PSAL* variables to a CSV or XLSX file. We first need to create a dataframe.

In [3]:
pres <- var.get.nc(data, 'PRES')
temp <- var.get.nc(data, 'TEMP')
psal <- var.get.nc(data, 'PSAL')
df <- data.frame(Pressure = pres, Temperature = temp, Salinity = psal)
head(df)

  Pressure Temperature Salinity
1 1        3.735       34.254
2 2        3.738       34.260
3 3        3.739       34.261
4 4        3.741       34.267
5 5        3.736       34.259
6 6        3.737       34.260

We can write the data to a CSV or XLSX file

In [4]:
write_xlsx(df, '../data/exported_from_notebooks/ctd_data.xlsx')
write.csv(df, '../data/exported_from_notebooks/ctd_data.csv', row.names = FALSE)

## Variables with multiple dimensions

What is a variable has multiple dimensions? Let's look at the same data we used in [tutorial #01](01_opening_and_understanding.ipynb).

If you use these data, please cite them as recommended below:

*H.-M. Zhang, B. Huang, J. H. Lawrimore, M. J. Menne, and T. M. Smith (2019): NOAA Global Surface Temperature Dataset (NOAAGlobalTemp), Version 5.0. NOAA National Centers for Environmental Information. doi:10.25921/9qth-2p70 Accessed 2024-04-09.*

Let's load in the data, and extract the data from the *anom* varaible for a given date.

In [5]:
url <- 'https://www.ncei.noaa.gov/thredds/dodsC/noaa-global-temp-v5/NOAAGlobalTemp_v5.0.0_gridded_s188001_e202212_c20230108T133308.nc'
data <- open.nc(url)

lat <- var.get.nc(data, 'lat')
lon <- var.get.nc(data, 'lon')

desired_date <- as.Date('2020-01-01')
days_since_1800 <- as.numeric(difftime(desired_date, as.Date('1800-01-01'), units = 'days'))

time <- var.get.nc(data, "time") 
# Finding index of the value
time_index <- which(time == days_since_1800)

anom <- var.get.nc(data, 'anom', start=c(NA, NA, 1, time_index), count=c(NA,NA,1,1))

*lat* and *lon* are 1D arrays whilst *anom* is a 2D matrix. 

We can't just write latitude and longitude to a dataframe like this:

In [6]:
df <- data.frame(lon = lon, lat = lat)
head(df)

  lon  lat
1  2.5 -87.5
2  7.5 -82.5
3 12.5 -77.5
4 17.5 -72.5
5 22.5 -67.5
6 27.5 -62.5

Instead we need to create a 2D grid of values, like this:

In [7]:
df <- expand.grid(lon = lon, lat = lat)
head(df)

  lon  lat
1  2.5 -87.5
2  7.5 -87.5
3 12.5 -87.5
4 17.5 -87.5
5 22.5 -87.5
6 27.5 -87.5

Now adding the *anom* variable can be done like this:

In [8]:
df$anom <- as.vector(anom)
head(df)

  lon  lat   anom
1  2.5 -87.5 NA
2  7.5 -87.5 NA
3 12.5 -87.5 NA
4 17.5 -87.5 NA
5 22.5 -87.5 NA
6 27.5 -87.5 NA

Finally, we can write out the data just like before

In [9]:
write_xlsx(df, paste('../data/exported_from_notebooks/temperature_anomalies_',desired_date,'.xlsx', sep=''))
write.csv(df, paste('../data/exported_from_notebooks/temperature_anomalies_',desired_date,'.csv', sep=''), row.names = FALSE)

Now let's try and write all the data (the whole time series) to a dataframe - so 3D data.

In [12]:
lat <- var.get.nc(data, 'lat')
lon <- var.get.nc(data, 'lon')
time <- var.get.nc(data, "time")

# Convert time to readable dates
start_date <- as.Date("1800-01-01")
date <- as.Date(time, origin = start_date)

anom <- var.get.nc(data, 'anom', start=c(NA, NA, 1, NA), count=c(NA,NA,1,NA))
anom_flat <- as.vector(anom)

lat_repeat <- rep(lat, each = length(lon) * length(time))
lon_repeat <- rep(rep(lon, each = length(time)), times = length(lat))
date_repeat <- rep(date, times = length(lat) * length(lon))

df <- data.frame(
  date = date_repeat,
  latitude = lat_repeat,
  longitude = lon_repeat,
  anom = anom_flat
)

head(df)
write.csv(df, '../data/exported_from_notebooks/temperature_anomalies_all_dates.csv', row.names = FALSE)

  date       latitude longitude anom
1 1880-01-01 -87.5    2.5       NA
2 1880-02-01 -87.5    2.5       NA
3 1880-03-01 -87.5    2.5       NA
4 1880-04-01 -87.5    2.5       NA
5 1880-05-01 -87.5    2.5       NA
6 1880-06-01 -87.5    2.5       NA